.admin-background {
    background-color: ghostwhite;
    background-image: url('../../images/menu-back.jpg');
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    .admin-background {
        background-image: url('../../images/chef.jpg');
        background-size: cover;
    
    }
    
}