.admin-background {
    background-color: aquamarine;
    background-image: url('../../images/caterer.jpg');
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    .admin-background {
        background-image: url('../../images/chef.jpg');
    
    }
    
}