.menu-image {
    height: 100px;
    width: 100px;
}
.menu-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}
.send-menu {
    background: #ff8000;
    border: none;
    font-size: 16px;
    color: white;
    padding: 15px 10px;
    margin-left: 45%;
    margin-top: 5%;
    width: 120px
}
.summ-list {
    background:#ffa64d;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    height: 70px;
}
.menu-title {
    margin-left: 40%;
    color: grey;
}
.menu-main {
    margin-bottom: 20px;
    padding-bottom: 5%
}
figcaption {
    margin-left: 25%;
}
.date{
    margin-left: 7%
}
@media only screen and (max-width: 500px) {
    .menu-image {
        height: 50px;
        width: 70px;
    }
    .menu-list {
        display: flex;
        flex-direction: column;
        margin-left: 20%
    }
    .summ-list {
        display: flex;
        flex-direction: column;
        margin-left: 20%
    }
    .send-menu {
        margin-left: 25%;
    }
    .menu-title {
        margin-left: 20%;
        font-size: 1.2em;
    }
    .menu-main {
        margin-bottom: 20px;
        padding-bottom: 5%
    }
    figcaption {
        margin-left: 12%;
    }
}