.back-btn{
    background: rgb(0, 255, 234);
    border: none;
    color: white;
    cursor: pointer;
    font: 1.5em bold;
    height: 50px;
    width: 190px;
}
.btn-link{
    margin-left: 20%
}
.confbtn{
    display: flex;
    justify-content: space-around;
    margin-bottom:10%;
    margin-left:33%;
    margin-right: 5%;
    margin-top: 0 auto;
    padding-bottom: 10%;
    width: 430px;
}
.confirm-btn{
    background: rgba(0, 110, 255, 0.795);
    border: none;
    color: white;
    cursor: pointer;
    font: 1.5em bold;
    height: 50px;
    width: 190px;
}
.confirm-btn>a, .back-btn > a{
    color: white;
}
.main-head {
    color: grey;
    margin-left: 25%;
}
.order-hist{
    color: grey;
    display: flex;
    justify-content: space-evenly;
    margin-left: 3%;
    
}
.order-hist>p {
    margin-left: 3%;
    margin-right: 7%
}
.order-now {
    background: #ff8000;
    border: none;
    color: white;
    margin-top: 5%;
    padding: 8px
}
.order-summ {
    display: flex;
    justify-content: space-around;
    background: white;
    font: 1.5em bold;
    margin-left: 35%;
    width: 400px;
}
.order-title{
    margin-left: 40%;
}
.sub-head {
    color: grey;
    margin-left: 35%;
}

table {
    border-collapse: collapse;
    font-family: arial, sans-serif;
    width: 100%;
    margin-left: 5%;
    
}
td {
	border: 1px solid #dddddd;
    height: 70px;
    padding: 8px;
    text-align: center;
}
th {
   background:#ffa64d;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;  
}
tr:nth-child(even) {
    background-color: #ffb3ff;
}
@media only screen and (min-width: 284px) 
and (max-width: 500px) {
    .back-btn{
        background: rgb(0, 255, 234);
        border: none;
        color: white;
        cursor: pointer;
        font-size: 1em;
        height: 50px;
        width: 130px;  
    }
    .btn-link{
        margin-left: 12%
    }
    .confbtn{
        margin-bottom: 5%;
        margin-left:10%;
        margin-right: 5%;
        width: 300px;
    }
    .confirm-btn{
        cursor: pointer;
        font-size: 1em;
        height: 50px;
        width: 130px;   
    }
    .main-head {
        font-size: 1.5em;
        margin-left: 10%;
    }
    .order-summ {
        font: 1em;
        margin-left: 10%;
        width: 300px;
    }
    .order-title{
        margin-left: 15%;
    }
    
    .sub-head {
        margin-left: 20%;
    }
    td {
        height: 50px;
        padding: 1px;
    }
    th {
        padding: 1px;
    }
}

@media only screen and (min-width: 600px)
and (max-width: 768px) {
    .confbtn{
        margin-left:25%;
        margin-right: 5%;
        width: 350px;
    }
    .main-head {
        margin-left: 25%;
    }
    .order-summ {
        margin-left: 20%;
        width: 400px;
    }
    .order-title{
        margin-left: 30%;
        font-size: 1.2em;
        margin-top: 10%
    }
    .sub-head {
        margin-left: 35%;
    }
    
}
@media only screen and (min-width: 800px)
and (max-width: 1024px) {
    .back-btn{
        width: 150px;
        font: 1.2em bold;
    }
    .confbtn{
        margin-left:30%;
        margin-right: 5%;
        width: 350px;
    }
    .confirm-btn{
        width: 150px;
        font: 1.2em bold;
        
    }
    .order-summ {
        margin-left: 25%;
        width: 400px;
    }
    .order-title{
        font-size: 1.2em;
        margin-left: 35%;
        margin-top: 10%
    }
    .main-head {
        margin-left: 30%;
    }
    .sub-head {
        margin-left: 35%;
    }
}